<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Лабораторная работа №4</title>
</head>
<body>
<h1 align="center">Лабораторная работа №4</h1>
<a href="/example_class_based">Example class based view</a><br>
<a href="/example_templated_view">Example templated view</a><br>
<a href="/templated_example_with_tags">Example templated view(with tags)</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="/templated_example_with_inheritance">Example templated view(with inheritance)</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="second_templated_example_with_inheritance">Second example templated view(with inheritance></a><br>
<h2 align="right">Работу сделал Андреев Алексей, группа ИУ5-53</h2>
</body>
</html>